<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Employee Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="background-color: lightgrey;">
      <ion-col size="3"><ion-label>Employee Id</ion-label></ion-col>
      <ion-col size="3"><ion-label>Employee Name</ion-label></ion-col>
      <ion-col size="3"><ion-label>Employee Salary</ion-label></ion-col>
      <ion-col size="3"><ion-label>Department</ion-label></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngFor="let emp of employees">
      <ion-col size="3"><ion-label>{{emp.id}}</ion-label></ion-col>
      <ion-col size="3"><ion-label>{{emp.name}}</ion-label></ion-col>
      <ion-col size="3"><ion-label>{{emp.salary}}</ion-label></ion-col>
      <ion-col size="3"><ion-label>{{emp.dept_name}}</ion-label></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
